<%- include('includes/head') -%>
<%- include('includes/header') -%>

<main id="agenda">
	<div class="chamada">
		<h1>Agenda de Contatos</h1>

		<!-- Troque {usuário} pelo nome vindo do login da pessoa -->
		<p>Seja bem vindo <%= user.email %>, aqui estão os seus contatos !</p>

		<%- include('includes/messages') -%>
	</div>

	<nav id="actionsOfSchedule">
		<a href="/contact/new" class="btn">Cadastrar novo contato</a>
	</nav>

	<table class="responsiveTable">
		<thead>
			<tr>
				<th scope="col">Nome</th>
				<th scope="col">Sobrenome</th>
				<th scope="col">Número de telefone</th>
				<th scope="col">Email</th>
			</tr>
		</thead>

		<tbody>
			<% contacts.forEach((contact)=>{ %>
				<tr>
					<td data-label="Nome"><%=contact.name%></td>
					<td data-label="Sobrenome"><%=contact.lastname%></td>
					<td data-label="Número de telefone"><%=contact.number%></td>
					<td data-label="Email"><%=contact.email%></td>
					<td class="table-buttons-container">
						<span class="display-buttons">
							<!-- Esta rota deverá ser contruida da seguinte maneira:
							 contact/edit/currentContact.id -->
							<a href="/contact/edit/<%=contact._id%>" class="btn edit">
								<span class="centralizeContent">
									<span class="material-symbols-outlined">
										edit
									</span>
								</span>
							</a>
							<a href="/contact/exclude/<%=contact._id%>" class="btn exclude">
								<span class="centralizeContent">
									<span class="material-symbols-outlined">
										delete_forever
									</span>
								</span>
							</a>
						</span>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</main>

<%- include('includes/footer') -%>
