<%- include('includes/head') -%> <%- include('includes/header') -%>

<main id="register">
	<div class="CTA">
		<h1>Realize seu Cadastro !</h1>
		<%- include('includes/messages') -%>
	</div>

	<form action="/login" method="post" class="responsive-form">
		<label for="Email">Email : </label>
		<input type="email" name="Email" id="Email" placeholder="Entre com seu email"/>
		<label for="Pswd">Senha : </label>
		<input type="password" name="Pswd" id="Pswd" placeholder="Crie sua Senha"/>
		<label for="ConfirmPswd">Confirme a Senha : </label>
		<input
			type="password"
			name="ConfirmPswd"
			id="ConfirmPswd"
			placeholder="Confirme senha criada"
		/>
		<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
		<button>Cadastrar</button>
	</form>

	<a href="/login" rel="noopener noreferrer">Ou faça Login</a>
</main>

<%- include('includes/footer') -%>
